.donutWrapper {
    width: 100%;
    font-size: 16px;
    margin: 0 auto;
    animation: wrapperFade 1s;
    min-width: 300px;
}

.donutRing {
    stroke: #d3d2d2;
}

.donutSegment {
    transform-origin: center;
    stroke: #FF9671;
    border: #FF9671 5px solid;
    animation: donutAnimation 3s;
}

.donutScore {
    animation: donutFade 1s;
}

@keyframes donutFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes donutAnimation {
    0%{
        stroke-dasharray: 0, 100;
    }
    100%{
        stroke-dasharray: var(--best-score-value), var(--best-score-value-offset);
    }
}

.donutText {
    fill: #FF9671;
}

.donutScore {
    font-size: 0.8em;
    line-height: 1;
    transform: translateY(0.5em);
    font-weight: bold;
}

.donutData {
    font-size: 0.12em;
    line-height: 1;
    transform: translateY(0.5em);
    text-align: center;
    text-anchor: middle;
    color:#666;
    fill: #666;
    animation: donutfadelong 1s;
}